{% include "PrayerMenuBundle:Menu:stylesheets.html.twig" %}
{% include "PrayerMenuBundle:Menu:javascripts.html.twig" %}

{% block content %}
<div id="wrapper"><!-- wrapper -->
	<menu class="leftNav"><!-- left nav -->
		<div id="slide">
			{% include "PrayerMenuBundle:Menu:menus.html.twig" %}
		</div>
	<!-- //left nav --></menu>
	<article class="navContentPanel"><!-- content panel -->		
		
		<header>
			<div class="sliderArrowPanel"><a href="javascript:avoid(0)" class="sliderArrowLeft" id="clicky"></a></div>
			<div class="pageTitlePanel"><h1>Notifications</h1></div>			
		</header>
		
		<div class="contentPanel">			
			<p>Notifications</p>
		</div>
	<!-- //content panel --></article>
	<div class="clear"></div>
<!-- // wrapper --></div>
{% endblock %}

{% javascripts
    '@PrayerMenuBundle/Resources/public/js/menuslide.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}