{% extends "PrayerSocialBundle::layout.html.twig" %}

  
     {% block body %}
  		  <form method="post" class="center" id="invite_form" action="">
		<table width="100%;" cellspacing="0" cellpadding="4px">
			<tbody><tr style="background-color:#D9D9D9; overflow:hidden;">
				<th id="NameColumn">Name</th>
				
			</tr>		
			  {% for friend in friendsLists %}
				<tr style="overflow:hidden">
				<td><img src="{{ friend.pictureUrl }}" title="{{ friend.firstName|e }}" ><span class="Names">{{ friend.firstName|e }} {{ friend.lastName|e }}</span></td>
				 
			  {% endfor %}  
			</tr>		</tbody></table>
		 
	</form>
     
	     
	 
	 {% endblock %}
  

 
 
{% set code = code(_self) %}
