/* ===============================================
 * 00: C O M M O N - Common
 ============================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/*html,body{
	height:100%;
	
}*/

*! {}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  background: $page-backgroud-color;
  position: relative;
  font-size: 13px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

a {
  color: #0D617E;
  text-decoration: none;
  outline: none;
  &:hover {
    color: $page-backgroud-color;
  }
}

img {
  border: none;
}

ins {
  background-color: $mark-ins-backgroud-color;
  color: $page-backgroud-color;
  text-decoration: none;
}

mark {
  background-color: $mark-ins-backgroud-color;
  color: $page-backgroud-color;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

.clear {
  clear: both;
}

/* ------------- common styles -------------- */

.sliderArrowPanel {
  width: 60px;
  float: left;
  margin-left: 8px;
}

.sliderArrowLeft, .sliderArrowRight {
  background: url('../images/slider-link-arrow.png') -58px 0 no-repeat;
  width: 58px;
  height: 58px;
  display: inline-block;
}

.sliderArrowLeft:hover {
  background-position: -58px -58px;
}

.sliderArrowRight {
  background-position: 0 0;
  &:hover {
    background-position: 0 -58px;
  }
}

.pageTitlePanel {
  width: auto;
  float: left;
  padding-top: 17px;
  padding-left: 10px;
}