/* ------------ left nav styles ------------------ */

menu {
  /*background:$menu-background-color;*/
  width: $menu-common-width;
  float: left;
  &.leftNav {
    li {
      padding: 0;
      list-style-type: none;
      border-bottom: 1px solid #1e1d1d;
      border-top: 1px solid #3b3b3b;
      &:last-child {
        border-bottom: none;
      }
      &:first-child {
        border-top: none;
      }
      a {
        font-size: 22px;
        color: #c1c1c1;
        display: block;
        line-height: 60px;
        background: $menu-background-color;
        padding: 7px 0 7px 15px;
        text-shadow: -1px 1px 1px black;
        &:hover {
          color: $link-hover-color;
          background: $menu-hover-background-color;
        }
      }
    }
    .today a, .current a {
      color: $link-hover-color;
      background: $menu-hover-background-color;
    }
  }
}

.myProfile .current, .prayerFeed .current, .friends .current, .pages .current, .groups .current, .circles .current, .give .current {
  color: $link-hover-color;
  background: $menu-hover-background-color;
}

.notifications .icon, .myProfile .icon, .prayerFeed .icon, .friends .icon, .pages .icon, .groups .icon, .circles .icon, .give .icon, .today .icon {
  background: url('../images/menu-icons.png') -3px -2px no-repeat;
  width: 75px;
  height: 60px;
  float: left;
  margin-right: 5px;
}

.leftNav li a span {
  display: inline-block;
}

.myProfile .icon {
  background-position: -80px 0px;
}

.prayerFeed .icon {
  background-position: -160px 0;
}

.friends .icon {
  background-position: -239px 0;
}

.pages .icon {
  background-position: -318px 0;
}

.groups .icon {
  background-position: -397px 0;
}

.circles .icon {
  background-position: -476px 0;
}

.give .icon {
  background-position: -553px 0;
}

.today {
  .icon {
    background-position: -630px -69px;
  }
  .link {
    font-size: 48px;
    color: $link-hover-color;
  }
}

.notifications {
  .count, .current {
    background: $common-menu-bg-color;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    padding: 5px;
    min-width: 40px;
    display: inline-block;
    margin-left: 10px;
  }
}

.groups .count {
  background: $common-menu-bg-color;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  padding: 5px;
  min-width: 40px;
  display: inline-block;
  margin-left: 10px;
}

.notifications {
  .current {
    background: #fc6238;
  }
  &:hover .icon {
    background-position: -3px -71px;
  }
}

.myProfile {
  &:hover .icon, .current .icon {
    background-position: -80px -69px;
  }
}

.prayerFeed {
  &:hover .icon, .current .icon {
    background-position: -160px -69px;
  }
}

.friends {
  &:hover .icon, .current .icon {
    background-position: -239px -69px;
  }
}

.pages {
  &:hover .icon, .current .icon {
    background-position: -318px -69px;
  }
}

.groups {
  &:hover .icon, .current .icon {
    background-position: -397px -69px;
  }
}

.circles {
  &:hover .icon, .current .icon {
    background-position: -476px -69px;
  }
}

.give {
  &:hover .icon, .current .icon {
    background-position: -553px -69px;
  }
}